<div class="card border-0 col-lg-3 col-md-6 shadow bg-white p-0">   
    <img src= <%= pokemon.image %> class="card-img-top" alt= <%= pokemon.name %> >
    <div class="card-body">
        <h5 class="card-title"><%= pokemon.name  %></h5>
        <p class="card-text"> Type: <%= pokemon.type %></p>
        <p class="card-text"> HP: <%= pokemon.HP %></p>
    </div> <!-- // .card-body -->
</div> <!-- // .card -->