 <section class="row bg-light p-3 mb-5">
    <div class="col">
        <h1>Products</h1>
       <h4>Add a new product</h4>

        <form action="/productos" method="post" class="mb-5">
            
            <input type="text" name="name" class="form-control mb-3" placeholder="Name" required>
            
            <input type="number" name="price" class="form-control mb-3" placeholder="Price" required >

            <input type="url" name="picture" placeholder="URL of the picture" class="form-control mb-3" required>
                        
            <input type="submit" value="Add product" class="btn btn-primary">
        </form>

        <h4>Product List</h4>

        {{#if products}}
        <div class="table-responsive">
            <table class="table table-striped align-middle">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Picture</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr>
                        <td scope="row">{{this.name}}</th>
                        <td>${{this.price}}</td>
                        <td><img src={{this.picture}} alt={{this.name}} style="width:50px; height:50px; object-fill:cover" /> </td>
                    </tr>
                    {{/each}}
                
                </tbody>

            </table>

        </div>

        {{else}}
            <div class="alert alert-warning" role="alert">
                No data was found
            </div>
        
        {{/if}}



    </div>
</section>


<section class="row bg-light p-3">
    <div class="col">
        <h1>Chat</h1>
    
        <div>
            <input type="email" id="email" class="form-control mb-3" placeholder="E-mail*" required>
            
            <input type="text" id="message" class="form-control mb-3" placeholder="Message*" required>

            <button class="btn btn-primary mb-3" onclick="sendMessage()">Send message</button>
        </div>

        <div id="chat"></div>

    </div>
</section>



